body {
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
    margin: 0;
    /* Remove unwanted margins */
}


.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #003366, #0066cc);
    color: white;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tittle h1 {
    font-size: 3rem;
    font-weight: bold;
    animation: slideIn 1.5s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-hover {
    transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
    transform: scale(1.1);
    background-color: #ffcc00 !important;
    color: black !important;
}